{% extends 'shared/base.html' %}
{% load static  %}
{% block content %}
  <body>
    <h1>Add Neighborhood</h1>


    {% if neighborhood.id is not None %}
        <form action="{% url 'trackerapp:neighborhood_detail' neighborhood.id %}" method="post">
    {% else %}
        <form action="{% url 'trackerapp:neighborhood_list' %}" method="post">
    {% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="name">Name: </label>
          <input id="name" type="text" name="name" value="{{ neighborhood.name }}">
      </fieldset>
        {% if neighborhood.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}    </form>
  </body>
</html>
{% endblock content %}