{% extends 'shared/base.html' %}
{% load static  %}
{% block content %}
  <body>
    <a href="{% url 'trackerapp:house_form' %}">Add Property</a>

    <h1>Houses</h1>

    <ol>
    {% for house in allHouses %}
        <li>
            <img class="img" src="{{house.image}}" alt="trackerapp image">
            <a href="{% url 'trackerapp:house_detail' house.id %}"> {{ house.address }} </a>
    Purchase Price: {{house.askingPrice}} Selling Price {{house.sellingPrice}}
        </li>
    {% endfor %}
    </ol>
  </body>
</html>
{% endblock %}